@import "bootstrap-sprockets";
@import "bootstrap";





/* mixins, variables, etc. */

$gray-medium-light: #eee;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}






/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}





/* universal */

body {
  padding-top: 75px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}






/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}



/* cop styles */

span.cop-order-info {
float: right;  
}




/* header */

#logo {
    color: white;
    float: left;
    font-size: 1.7em;
    font-weight: bold;
    letter-spacing: 0;
    margin-right: 10px;
    padding-top: 0;
    text-transform: uppercase;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

#cop-navbar {
    background-color: #fff;
    border-color: #ccc;
    margin: 0;
    padding: 15px 0;
}
#cop-navbar.navbar-inverse .navbar-nav > li > a:hover, 
#cop-navbar.navbar-inverse .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #ccc;
}



/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}




/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}





/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#painting_painting_featured,
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#painting_painting_featured {
    float: left;
    margin-top: 7px;
    width: 20px;  

}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}



/* Paintings index */

.paintingsListing {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    margin: 10px;
    border-bottom: 1px solid $gray-lighter;
    width: 150px;
    float: left;
  }
}



/* Drop Down Area */

#art-gallery {
  display: none;
}

#pulldown, #pulldown p, #pulldown h2 {
    background-color: #777777;
    color: #ffffff;
}
#pulldown p {
    font-size: 11px;
    padding-bottom: 15px;
}
#pulldown a {
    color: #ffff00;
    font-weight: bold;
    text-decoration: none;
}
#pulldown a.bigger {
    font-size: 18px;
}
#pulldown a:hover {
    text-decoration: underline;
}
#pulldown header {
    background-color: #777777;
    color: #777777;
    display: inline-block;
    padding-right: 25px;
}
.top {
    background: rgba(0, 0, 0, 0) url("../images/line.gif") repeat-x scroll center 40px;
    font-weight: 500;
    padding-bottom: 30px;
    padding-top: 30px;
}
#pulldown .top {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#aboutclose {
    bottom: -58px;
    height: 68px;
    padding: 0 15px;
    position: absolute;
    right: 173px;
    text-align: center;
    width: 60px;
}
#about {
    background-color: #777777;
    display: none;
    font-weight: 200;
    height: 470px;
    position: relative;
}
#about img.avatar {
    float: left;
    padding-right: 50px;
}

#join {
    display: none;
    height: 470px;
    position: relative;
}
#joinclose {
    height: 68px;
    padding: 0 42px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 460px;
    width: 80px;
}
#join h2 {
    font-weight: 400;
    letter-spacing: -0.5px;
    padding-bottom: 25px;
}
#join img.avatar {
    float: right;
    position: relative;
    top: 90px;
}
#join p {
    font-size: 17px;
    font-weight: 200;
    letter-spacing: 0.4px;
}

#close, #slider-close, #aboutpull, #jointhemailinglist {
  cursor: pointer;
}




/* Homeless Cop Paintings Order */

body.order-body form.edit_painting{
  width: 150px;

}
body.order-body form.edit_painting input#painting_ordering {
  width: 40px;
}




/*
  jQuery Coda-Slider v2.0 - http://www.ndoherty.biz/coda-slider
  Copyright (c) 2009 Niall Doherty
  This plugin available for use in all personal or commercial projects under both MIT and GPL licenses.
*/

/* Insignificant stuff, for demo purposes */



/* Most common stuff you'll need to change */

  .coda-slider-wrapper { padding: 20px; margin: 0 auto }
  .coda-slider { background: none; }
  
  /* Use this to keep the slider content contained in a box even when JavaScript is disabled */
  .coda-slider-no-js .coda-slider { height: 587px; overflow: auto !important; padding-right: 20px }
  .coda-slider-no-js .coda-slider-2 { height: 587px; overflow: auto !important; padding-right: 20px}
  
  /* Change the width of the entire slider (without dynamic arrows) */
  .coda-slider, .coda-slider .panel { width: 720px } 
  .coda-slider-2, .coda-slider-2 .panel {width: 1600px }
  
  /* Change margin and width of the slider (with dynamic arrows) */
  .coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel { width: 720px }
  .coda-slider-wrapper.arrows .coda-slider { margin: 0 auto }
  
  /* Arrow styling */
  .coda-nav-left a { background-image: url("../images/arrow/left.png"); background-position: left center; float: left; background-repeat: no-repeat; }
  .coda-nav-right a { background-image: url("../images/arrow/right.png"); background-position: right center; float:right; background-repeat:no-repeat; }
  /* Tab nav */
  .coda-nav ul li a.current { background: #39c }
  
  /* Panel padding */
  .coda-slider .panel-wrapper { padding: 20px; margin: auto; overflow: hidden; }
  
  /* Preloader */
  .coda-slider p.loading { padding: 10px; text-align: center }

/* Don't change anything below here unless you know what you're doing */

  /* Tabbed nav */
  .coda-nav ul { clear: both; display: block; margin: auto; overflow: hidden }
  .coda-nav ul li { display: inline }
  .coda-nav ul li a { background: #000; color: #fff; display: block; float: left; margin-right: 1px; padding: 3px 6px; text-decoration: none }
  
  /* Miscellaneous */
  .coda-slider-wrapper { clear: both; overflow: auto }
  .coda-slider, .coda-slider-2 { float: left; overflow: hidden; position: relative }
  .coda-slider .panel, .coda-slider-2 .panel { display: block; float: left }
  .coda-slider .panel-container, .coda-slider-2 .panel-container { position: relative }
  .coda-nav-left a, .coda-nav-right a { display: block; text-decoration: none; height: 550px; outline:none; width: 112px }
  .coda-nav-right a:hover { background-image: url("../images/arrow/black-right.png"); background-position: right center; float:right; background-repeat:no-repeat;}
  .coda-nav-left a:hover { background-image: url("../images/arrow/black-left.png"); background-position: left center; float: left; background-repeat: no-repeat;}
  .coda-slider .panel-wrapper img, .coda-slider-2 .panel-wrapper img{margin: 0 auto; display: block;}
