@import "bootstrap-sprockets";
@import "bootstrap";





/* mixins, variables, etc. */

$gray-medium-light: #000;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}






/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}





/* universal */

body {
  padding-top: 125px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}






/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
    font-size: 33px;
    letter-spacing: 0px;
    margin-bottom: 30px;
    text-align: left;
    text-transform: uppercase;
    color: $gray-medium-light;
    
}

h1.home {display: none;} 

h2 {
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-medium-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a, a:focus { 
    outline: none; 
    outline:0;
}

/* cop styles */

span.cop-order-info {
float: right;  
}




/* header */

.container {
    position: relative;
}

#networks {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 20px;
    li {
      float: left;
      list-style-image: none;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    a {
      background: image-url("/assets/network.png");
      display: block;
      height: 32px;
      width: 32px;
    }
    #twitter a {
      background-position: 0 32px;
    }
    #facebook a {
      background-position: 0 94px;
    }
    #instigram a {
      background-position: 0 62px;
    }        
    a:hover {
      margin-top: 2px;
    }    
}

#logo {
    color: white;
    display: block;
    font-size: 1.7em;
    font-weight: bold;
    height: 46px;
    letter-spacing: 0;
    margin: 0 auto;
    padding-top: 0;
    text-align: center;
    text-transform: uppercase;
    width: 350px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

#cop-navbar {
    background-color: #fff;
    border: medium none;
    margin: 0;
    padding: 15px 0;
}

#cop-navbar.navbar-inverse .navbar-nav > li > a {
  color: #000;
  text-transform: uppercase;
}

#cop-navbar.navbar-inverse .navbar-nav > li > a:hover, 
#cop-navbar.navbar-inverse .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #000;
    
}
#cop-navbar nav .navbar-nav {
    float: none;
    margin: 0 auto;
    text-align: center;
    width: 514px;
}




/* music page */

#dl-link {
    background-image: url("/assets/dl2.gif");
    background-position: 0 0;
    display: block;
    height: 105px;
    left: 491px;
    position: absolute;
    top: 29px;
    width: 120px;
    &:hover {
      background-position: 0 -110px;
    }
}

ul#dl {
    padding-bottom: 200px;
    padding-top: 20px;
    li {
        list-style-type: none;
        list-style-image: none;
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 5px;
    }  
    li span {
        color: #cd0235;
    }
    span {
        padding: 5px;
    }      
}

body.music-body .jp-audio {
    position: relative;
    padding: 20px;
    width: 570px;
    h1 {
      font-size: 42px;
      text-align: left;
      text-transform: uppercase;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    h2 {
      text-align: left;
      text-transform: uppercase;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }    
}
#music-artwork{
  float: right;
  padding-top: 30px;
}





#homeBoxes h2 {
    font-size: 30px;
    text-align: left;
}





/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  
  a {
    color: #000;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}




/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}





/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#painting_painting_featured,
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#painting_painting_featured {
    float: left;
    margin-top: 7px;
    width: 20px;  

}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}



/* Paintings index */

.paintingsListing {
    list-style: outside none none;
    margin-left: -42px;
  li {
    border-bottom: 1px solid #eeeeee;
    float: left;
    margin: 6px;
    overflow: auto;
    width: 150px;
    text-align: center;
  }
}


/* Video Page */

#videoListing {

    li {
    float: left;
    list-style-image: none;
    list-style-type: none;
    margin: 25px;
    padding: 0;
    width: 225px;
    position: relative;
    overflow: hidden;
    }

}



.videoTitle {
    background-color: #000;
    bottom: 0;
    display: none;
    height: 20px;
    position: absolute;
    text-align: center;
    width: 225px;
    z-index: 1;
    color: #fff;
}



.paintingsHome {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    margin: 10px;
    border-bottom: 1px solid $gray-lighter;
    float: left;
    position: relative;
  }
}
#xtrigger {
  display: block;
  width: 150px; 
  height: 150px;
  position: relative;
}
.paintingInfo {
    background-color: #000;
    bottom: 0;
    display: none;
    position: absolute;
    width: 150px;
    color: #fff;
}
.paintingInfo h3{
  font-size: 12px;
  margin: 0;
  padding: 0;
} 
#xtrigger img {
  max-width: 150px;
}


/* Drop Down Area */

#art-gallery {
  display: none;
}

#pulldown, #pulldown p, #pulldown h2 {
    background-color: #777777;
    color: #ffffff;
    text-align: left;
}
#pulldown h2 {
  text-transform: uppercase;
  font-size: 40px;
  padding-top: 50px;
}  
#pulldown p {
    font-size: 12px;
    padding-bottom: 15px;
}
#pulldown a {
    color: #ffff00;
    font-weight: bold;
    text-decoration: none;
}
#pulldown a.bigger {
    font-size: 18px;
}
#pulldown a:hover {
    text-decoration: underline;
}
#pulldown header {
    background-color: #777777;
    color: #777777;
    display: inline-block;
    padding-right: 25px;
}
.top {
    background: rgba(0, 0, 0, 0) url("../images/line.gif") repeat-x scroll center 40px;
    font-weight: 500;
    padding-bottom: 30px;
    padding-top: 30px;
}
#pulldown .top {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#aboutclose {
    bottom: -58px;
    height: 68px;
    padding: 0 15px;
    position: absolute;
    right: 173px;
    text-align: center;
    width: 60px;
    z-index: 12;
    }
#about {
    background-color: #777777;
    display: none;
    font-weight: 200;
    height: 470px;
    position: relative;
}
#about img.avatar {
    float: left;
    padding-right: 50px;
}

#join {
    display: none;
    height: 470px;
    position: relative;
}
#joinclose {
    height: 68px;
    padding: 0 42px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 460px;
    width: 80px;
}
#join h2 {
    font-weight: 400;
    letter-spacing: -0.5px;
    padding-bottom: 25px;
}
#join img.avatar {
    float: right;
    position: relative;
    top: 90px;
}
#join p {
    font-size: 17px;
    font-weight: 200;
    letter-spacing: 0.4px;
}

#close, #slider-close, #aboutpull, #jointhemailinglist {
  cursor: pointer;
}




/* Homeless Cop Paintings Order */

body.order-body form.edit_painting{
  width: 175px;

}
body.order-body form.edit_painting input#painting_ordering {
  width: 40px;

}



#profile {
  float: left;
  padding: 20px;
}




/* New HC Slider */

#slider {
    height: 555px;
    overflow: hidden;
    width: 1170px;
}
#slider .slides {
  margin: 0;
  padding: 0;
  display: block;
  width: 6000px;
  height: 500px;
}
#slider .slide {
  float: left;
  list-style-type: none;
  width: 1170px;
  height: 500px;
  text-align: center;
}






ul#contacts li {
  padding-bottom: 20px;  

}

#art-index,
#art-gallery {
  position: relative;
}


#art-index #close {
    background: image-url("/assets/arrow/sprite.png");
    background-position: 10px 0;
    background-repeat: no-repeat;
    color: #000;
    float: right;
    font-size: 18px;
    font-weight: bold;
    height: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 42px;
    position: absolute;
    right: 29px;
    text-align: center;
    top: 15px;
    width: 61px;
}
#art-index #close:hover {
    background-position: 10px -50px;
    color: #000;
    text-decoration: none;
}
#slider-close {
    background: image-url("/assets/arrow/sprite_down.png");
    background-position: 14px -39px;
    background-repeat: no-repeat;
    color: #000;
    float: right;
    font-size: 15px;
    font-weight: bold;
    height: 10px;
    padding-top: 50px;
    position: absolute;
    right: -5px;
    top: 6px;
    width: 65px;
    z-index: 10;
}
#slider-close:hover {
    background-position: 14px 7px;
    text-decoration: none;
}

#slideFront, #slideBack {
    display: block;
    height: 550px;
    outline: medium none;
    position: absolute;
    text-decoration: none;
    width: 112px;
    text-indent: -100000px;
}

#slideFront {
    background: image-url("/assets/arrow/right.png");
    background-position: right center;
    background-repeat: no-repeat;
    float: right;
    right: 0px;
}

#slideBack {
    background: image-url("/assets/arrow/left.png");
    background-position: left center;
    background-repeat: no-repeat;
    float: right;
    left: 0px;
}

#slideShow, #slideShowStop {top: 34px; z-index: 2;}

#slideShow {
    background: image-url("/assets/arrow/sprite_play.png");
    background-position: left -49px;
    background-repeat: no-repeat;
    height: 44px;
    left: 0;
    position: absolute;
    text-indent: -100000px;
    width: 42px;


}

#slideShowStop {
    background: image-url("/assets/arrow/sprite_pause.png");
    background-position: left -49px;
    background-repeat: no-repeat;
    height: 44px;
    left: 0;
    position: absolute;
    text-indent: -100000px;
    width: 42px;

}





#paintingsHomeContainer {
    height: 510px;
    overflow: hidden;
    width: 510px;
    li {
    margin: 0px;
    padding: 0px;
    }
    ul {
    margin: 0px;
    padding: 0px;
    }    
}





#hc_sub {
    background-color: #fff;
    border: 13px solid #000;
    color: #000;
    font-size: 31px;
    font-weight: bold;
    padding: 7px;
    text-transform: uppercase;
    width: 142px;
}






a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

.messagepop {
    background-color: #ffffff;
    border: 1px solid #999999;
    cursor: default;
    display: none;
    height: 100%;
    left: 0;
    margin: auto;
    padding: 25px 25px 20px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1200;
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
  text-transform: uppercase;
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}




#exampleSliderHolder {text-align: center;}

#exampleSlider img {
  width: 500px;
}
#exampleSlider {
    list-style: outside none none;
    margin: 0 auto;
    max-height: 486px;
    overflow: hidden;
    padding: 0;
    width: 800px;
}
.close2 {
    background: image-url("/assets/closer.png");
    color: #000;
    cursor: pointer;
    float: right;
    font-size: 21px;
    font-weight: bold;
    height: 38px;
    left: 0;
    line-height: 1;
    margin: 20px;
    opacity: 1;
    position: absolute;
    text-indent: -100000px;
    text-shadow: 0 1px 0 #fff;
    top: 0;
    width: 38px;
    z-index: 10000000;
}


/*** SPECIAL FX ***/
.slideLeft{animation-name:slideLeft;-webkit-animation-name:slideLeft;animation-duration:1s;-webkit-animation-duration:1s;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out;visibility:visible!important}@keyframes slideLeft{0%{transform:translateX(150%)}50%{transform:translateX(-8%)}65%{transform:translateX(4%)}80%{transform:translateX(-4%)}95%{transform:translateX(2%)}100%{transform:translateX(0%)}}@-webkit-keyframes slideLeft{0%{-webkit-transform:translateX(150%)}50%{-webkit-transform:translateX(-8%)}65%{-webkit-transform:translateX(4%)}80%{-webkit-transform:translateX(-4%)}95%{-webkit-transform:translateX(2%)}100%{-webkit-transform:translateX(0%)}}
.slideRight{animation-name:slideRight;-webkit-animation-name:slideRight;animation-duration:1s;-webkit-animation-duration:1s;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out;visibility:visible!important}@keyframes slideRight{0%{transform:translateX(-150%)}50%{transform:translateX(8%)}65%{transform:translateX(-4%)}80%{transform:translateX(4%)}95%{transform:translateX(-2%)}100%{transform:translateX(0%)}}@-webkit-keyframes slideRight{0%{-webkit-transform:translateX(-150%)}50%{-webkit-transform:translateX(8%)}65%{-webkit-transform:translateX(-4%)}80%{-webkit-transform:translateX(4%)}95%{-webkit-transform:translateX(-2%)}100%{-webkit-transform:translateX(0%)}}
.fadeIn{animation-name:fadeIn;-webkit-animation-name:fadeIn;animation-duration:1.5s;-webkit-animation-duration:1.5s;animation-timing-function:ease-in-out;-webkit-animation-timing-function:ease-in-out;visibility:visible!important}@keyframes fadeIn{0%{transform:scale(0);opacity:0}60%{transform:scale(1.1)}80%{transform:scale(0.9);opacity:1}100%{transform:scale(1);opacity:1}}@-webkit-keyframes fadeIn{0%{-webkit-transform:scale(0);opacity:0}60%{-webkit-transform:scale(1.1)}80%{-webkit-transform:scale(0.9);opacity:1}100%{-webkit-transform:scale(1);opacity:1}}
.bigEntrance{animation-name:bigEntrance;-webkit-animation-name:bigEntrance;animation-duration:1.6s;-webkit-animation-duration:1.6s;animation-timing-function:ease-out;-webkit-animation-timing-function:ease-out;visibility:visible!important}@keyframes bigEntrance{0%{transform:scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);opacity:.2}30%{transform:scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);opacity:1}45%{transform:scale(0.98) rotate(1deg) translateX(0%) translateY(0%);opacity:1}60%{transform:scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);opacity:1}75%{transform:scale(0.99) rotate(1deg) translateX(0%) translateY(0%);opacity:1}90%{transform:scale(1.01) rotate(0deg) translateX(0%) translateY(0%);opacity:1}100%{transform:scale(1) rotate(0deg) translateX(0%) translateY(0%);opacity:1}}@-webkit-keyframes bigEntrance{0%{-webkit-transform:scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);opacity:.2}30%{-webkit-transform:scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);opacity:1}45%{-webkit-transform:scale(0.98) rotate(1deg) translateX(0%) translateY(0%);opacity:1}60%{-webkit-transform:scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);opacity:1}75%{-webkit-transform:scale(0.99) rotate(1deg) translateX(0%) translateY(0%);opacity:1}90%{-webkit-transform:scale(1.01) rotate(0deg) translateX(0%) translateY(0%);opacity:1}100%{-webkit-transform:scale(1) rotate(0deg) translateX(0%) translateY(0%);opacity:1}}
.pullUp{animation-name:pullUp;-webkit-animation-name:pullUp;animation-duration:1.1s;-webkit-animation-duration:1.1s;animation-timing-function:ease-out;-webkit-animation-timing-function:ease-out;transform-origin:50% 100%;-ms-transform-origin:50% 100%;-webkit-transform-origin:50% 100%}@keyframes pullUp{0%{transform:scaleY(0.1)}40%{transform:scaleY(1.02)}100%,60%{transform:scaleY(0.98)}80%{transform:scaleY(1.01)}100%{transform:scaleY(1)}}@-webkit-keyframes pullUp{0%{-webkit-transform:scaleY(0.1)}40%{-webkit-transform:scaleY(1.02)}100%,60%{-webkit-transform:scaleY(0.98)}80%{-webkit-transform:scaleY(1.01)}100%{-webkit-transform:scaleY(1)}}
.pullDown{animation-name:pullDown;-webkit-animation-name:pullDown;animation-duration:1.1s;-webkit-animation-duration:1.1s;animation-timing-function:ease-out;-webkit-animation-timing-function:ease-out;transform-origin:50% 0;-ms-transform-origin:50% 0;-webkit-transform-origin:50% 0}@keyframes pullDown{0%{transform:scaleY(0.1)}40%{transform:scaleY(1.02)}100%,60%{transform:scaleY(0.98)}80%{transform:scaleY(1.01)}100%{transform:scaleY(1)}}@-webkit-keyframes pullDown{0%{-webkit-transform:scaleY(0.1)}40%{-webkit-transform:scaleY(1.02)}100%,60%{-webkit-transform:scaleY(0.98)}80%{-webkit-transform:scaleY(1.01)}100%{-webkit-transform:scaleY(1)}}
.stretchLeft{animation-name:stretchLeft;-webkit-animation-name:stretchLeft;animation-duration:1.5s;-webkit-animation-duration:1.5s;animation-timing-function:ease-out;-webkit-animation-timing-function:ease-out;transform-origin:100% 0;-ms-transform-origin:100% 0;-webkit-transform-origin:100% 0}@keyframes stretchLeft{0%{transform:scaleX(0.3)}40%{transform:scaleX(1.02)}100%,60%{transform:scaleX(0.98)}80%{transform:scaleX(1.01)}100%{transform:scaleX(1)}}@-webkit-keyframes stretchLeft{0%{-webkit-transform:scaleX(0.3)}40%{-webkit-transform:scaleX(1.02)}100%,60%{-webkit-transform:scaleX(0.98)}80%{-webkit-transform:scaleX(1.01)}100%{-webkit-transform:scaleX(1)}}
.stretchRight{animation-name:stretchRight;-webkit-animation-name:stretchRight;animation-duration:1.5s;-webkit-animation-duration:1.5s;animation-timing-function:ease-out;-webkit-animation-timing-function:ease-out;transform-origin:0 0;-ms-transform-origin:0 0;-webkit-transform-origin:0 0}@keyframes stretchRight{0%{transform:scaleX(0.3)}40%{transform:scaleX(1.02)}100%,60%{transform:scaleX(0.98)}80%{transform:scaleX(1.01)}100%{transform:scaleX(1)}}@-webkit-keyframes stretchRight{0%{-webkit-transform:scaleX(0.3)}40%{-webkit-transform:scaleX(1.02)}100%,60%{-webkit-transform:scaleX(0.98)}80%{-webkit-transform:scaleX(1.01)}100%{-webkit-transform:scaleX(1)}}

